# Temporary files
.vscode/**

# Compiled object files
*.slo
*.lo
*.o
*.obj

# Executables
bin/**
gene_registers.sh
src/experiment.report

.vs/
CppProperties.json
SILVER.vcxproj
SILVER.vcxproj.user
benchs2.txt
data/
experiments2.sh
midterm_result2.txt
obj/
result2.txt
sharedfolder.txt

test/list_nl.sh
test/rename_infeasible.sh

experiment/aes/
experiment/keccak/
